{
  "presets": [["env", {"loose": true, "modules": false}], "react", "stage-0"],
  "env": {
    "commonjs": {
      "presets": [
        [
          "env",
          {
            "loose": true
          }
        ]
      ]
    }
  }
}
